<?xml version="1.0" encoding="UTF-8"?>
<Configuration debug="true" status="INFO">
    <Appenders>
        <Console name="normalConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%-1c|%level]: %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="normalConsole"/>
        </Root>

        <Logger name="io.netty" additivity="false" level="warn">
            <AppenderRef ref="normalConsole"/>
        </Logger>

        <Logger name="com.corundumstudio" additivity="false" level="warn">
            <AppenderRef ref="normalConsole"/>
        </Logger>
        
        <!-- <Logger name="PortChecker" additivity="false" level="trace">
            <AppenderRef ref="normalConsole"/>
        </Logger> -->
    </Loggers>
</Configuration>
