<?xml version="1.0" encoding="UTF-8"?>
<Configuration debug="true" status="INFO">
    <Appenders>
        <Console name="normalConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SS} [%t/%-5level]: %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="normalConsole"/>
        </Root>
    </Loggers>
</Configuration>
