* {
    margin: 0;
    padding: 0
}

*:focus {
    outline: none;
}

body {
    background-color: #24292D;
}

.connection-section, .console-section {
    width: 85vw;
    margin: 3.5vh auto 0 auto;
    padding: 1.75vh 2vw 1.75vh 2vw;
    display: flex;
    background-color: #2B3137;
    border-radius: 8px;
}

.console-section {
    display: block;
}

#connection-section-id {
    justify-content: space-between;
}

.connection-section-input {
    font-family: 'SF Mono', monospace;
    font-size: 1.5vw;
    text-align: center;
    color: white;
    background-color: #24292D;
    border-width: 0.15vw;
    border-style: solid;
    border-radius: 4px;
    border-color: #4b4b4b;
}

#connection-section-input-ip {
    width: 15vw;
}

#connection-section-input-port {
    width: 5vw;
}

#connection-section-status-value {
    margin: 0 0 0 0.375vw;
    font-weight: bold;
    font-size: 1.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #808080;
}

.connection-section-button {
    width: 10vw;
    font-family: 'SF Mono', monospace;
    font-size: 1.5vw;
    color: white;
    border-radius: 4px;
    border-width: 0.15vw;
    border-style: solid;
}

#connection-section-button-connect {
    background-color: #008000;
    border-color: #61e661;
}

#connection-section-button-disconnect {
    background-color: #8b0000;
    border-color: #f14c4c;
}

/*
.datagram-info {
    width: 85vw;
    margin: 3.5vh auto 0 auto;
    padding: 1.75vh 2vw 1.75vh 2vw;
    display: flex;
    justify-content: space-between;
}

.datagram-info-send {
    display: block;
    width: 70%;
    margin: 0 2.5vw 0 0;
    padding: 1.75vh 2vw 1.75vh 2vw;
    background-color: #2B3137;
    border-radius: 8px;
}

.datagram-info-recv {
    display: block;
    width: 50%;
    margin: 0 0 0 2.5vw;
    padding: 1.75vh 2vw 1.75vh 2vw;
    display: flex;
    background-color: #2B3137;
    border-radius: 8px;
}

.datagram-info-netcode {
    display: flex;
}

.datagram-info-send-body {
    display: flex;
    margin: 2.5vh 0 0 0
}

.datagram-info-label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25vw;
    color: white;
    width: 8.5vw;
}

.datagram-info-input {
    padding: 0vh 0.5vw 0vh 0.5vw;
    font-family: 'SF Mono', monospace;
    font-size: 1.25vw;
    text-align: left;
    color: white;
    background-color: #24292D;
    border-width: 0.15vw;
    border-style: solid;
    border-radius: 4px;
    border-color: #4b4b4b;
}

#datagram-info-input-body {
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    width: 50vw;
    max-width: 50vw;
    resize: none;
    font-size: 1.5em;
}

#datagram-info-button-send {
    font-family: 'SF Mono', monospace;
    font-size: 1.25vw;
    color: white;
    background-color: #ff6600;
    border-color: rgb(255, 146, 74);
    border-width: 0.2vw;
    border-radius: 8px;
    border-style: solid;
    margin: 0 0 0 2.5vw;
    padding: 0 0.5vw 0 0.5vw;
}
*/

.console-section-area {
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    width: 84vw;
    max-width: 100%;
    height: 32.5vh;
    max-height: 32.5vh;
    resize: none;
    background-color: #212224;
    border-color: #4b4b4b;
    border-radius: 8px;
    border-width: 0.2vw;
    font-family: 'SF Mono', monospace;
    font-size: 1.05vw;
    color: white;
}

.console-section-button-clear-box {
    display: flex;
    justify-content: space-between;
}

#console-section-clear-button {
    font-family: 'SF Mono', monospace;
    font-size: 1.25vw;
    color: black;
    background-color: white;
    border-color: #4b4b4b;
    border-width: 0.2vw;
    border-radius: 8px;
    border-style: solid;
    margin: 0 0 1vh 0;
    padding: 0 0.5vw 0 0.5vw;
}
